<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <% include ../static/partials/head.ejs %>
    <!-- Head -->
  </head>
  <body>
     
     <!-- Navigation -->
     <% include ../static/partials/nav.ejs %>
     <!-- Navigation -->

      <!-- Page Content -->
      <main class="container">

        <!-- messages -->
        <% include ../static/partials/messages.ejs %>
        <!-- messages -->

        <div class="row">
            <div class="col-md-12"><h2><a href="/wikis">Wikis</a> > Edit</h2></div>
        </div>
        <hr class="p-3">

          <form method="POST" action="/wikis/<%= wiki.id %>/update">

            <% if (setPrivate) { %>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="private" name="private" <% if (wiki.private) { %> <%= "checked" %> <% } %>>
                <label class="form-check-label" for="private">
                  Set as Private
                </label>
              </div>
              <% } %>
              <br><br>
              <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" value="<%= wiki.title %>"/>
              </div>
              
              <div class="form-group">
                <label>Body</label>
                <textarea placeholder="Type the body of your wiki here..." class="form-control" id="body" name="body" oninput="this.editor.update()" rows="6" cols="60"><%= wiki.body %></textarea>
                <div class="clearfix">
                  <div class="text-muted float-right">**bold** _italic_ `code` >quote • - bullet list</div>
                </div>
              </div>

              

            <b>Preview</b>
            <hr/>
            <div id="body-preview"><%- wiki.bodyFormatted %></div>

            <input type="submit" value="Save" class="btn btn-primary btn-lg float-right"/>
              
              <a class="btn btn-secondary btn-lg float-right mr-3" href="/wikis" role="button">Cancel</a>
            </form>
      </main>
      <!-- /.container -->

      <!-- Script -->
       <% include ../static/partials/script.ejs %>
      <!-- Script -->

      <script>
          function Editor(input, preview) {
            this.update = function () {
              preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
          }
          var $ = function (id) { return document.getElementById(id); };
          new Editor($("body"), $("body-preview"));
        </script> 

      
    </body>
</html>

