<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head -->
    <% include ../static/partials/head.ejs %>
    <!-- Head -->
  </head>
  <body>
     
     <!-- Navigation -->
     <% include ../static/partials/nav.ejs %>
     <!-- Navigation -->

      <!-- Page Content -->
      <main class="container">

        <!-- messages -->
        <% include ../static/partials/messages.ejs %>
        <!-- messages -->

        <div class="row">
            <div class="col-md-10">
                <span class="text-muted"><%= wiki.private ? 'private wiki' : ''%></span><br>
              <h2><a href="/wikis">Wikis</a> > <%= wiki.title %> </h2> </div>
            <div class="col-md-1">
                <a class="btn btn-danger btn-lg float-right" href="/wikis/<%= wiki.id %>/delete" role="button">Delete</a>
            </div>
            <div class="col-md-1">
                <a class="btn btn-primary btn-lg float-right" href="/wikis/<%= wiki.id %>/edit" role="button">Edit</a>
            </div>
            
        </div>

          <hr class="p-3">

            <div id="body-preview"><%- wiki.body %></div>

          <hr class="p-3">

          
            
      </main>
      <!-- /.container -->

      <!-- Script -->
       <% include ../static/partials/script.ejs %>
      <!-- Script -->


      
    </body>
</html>

